<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/cars/<%= car._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit a <%= car.model %></legend>
            <label>
              Model:<input
                type="text"
                name="Model"
                value="<%= car.model %>"
                placeholder="Enter Car Model"
              />
            </label>
            <label>
              Price:<input
                type="text"
                name="Price"
                value="<%= car.price %>"
                placeholder="Enter Car Price"
              />
            </label>
            <label>
              Salvaged:<input type="checkbox" name="Salvaged" 
              <%= car.salvaged ? "checked" : "" %> />
            </label>
            <label>
                Image:<input
                  type="text"
                  name="Image"
                  value="<%= car.image %>"
                  placeholder="Enter Image URL"
                />
              </label>
          </fieldset>
          <input type="submit" value="Update <%= car.model %>" />
        </form>
      </div>
    </main>
  </body>
</html>